streamlit==1.49.1
numpy
pandas
matplotlib
geopandas
rasterio
shapely
sentinelhub
requests
tqdm
scikit-learn
simplekml
pillow
pyproj
fiona
pyshp
pyyaml
altair
jinja2
urllib3
click
watchdog
pydeck
protobuf
typing-extensions